body{
  font-family: sans-serif;;
  font-size: 20px;
  background-color: black;
}
img{
  float: left;

}
h1{
  font-size: 48px;
  font-weight: bold;
  font-family: cursive;
  float: right;
  color: blue;
}
.quo{
  font-family: fantasy;
  font-size: 25px;
}
 blockquote{
   padding-top: 40px;
   color: grey;
   background-color: skyblue;
   float: right
}
.panel-top{

}
.panel-projects{
  font-family: cursive;
  text-align: center;
}
.panel-about{
  font-family: cursive;
  text-align: center;
}
.ultra{
  font-style: italic;
  font-size: 14px;
}
.panel-back{
  font-family: cursive;
  text-align: center;
}
.panel-hob{
  font-family: cursive;
  text-align: center;
}

li{
  font-style: italic;
  font-size: 18px;
}
